# Tentris environment
src/tentris-quickstart/.venv/

# Local environment
.venv/

# local test file
src/neo4j-quickstart/local_test.py

# Mac related files
*.DS_Store

# Any env files anywhere in sub repositories
*.env
*quickstart.egg-info

# Python related files
__pycache__/
*.py[cod]
*$py.class
*__pycache__

# Plots
src/neo4j-quickstart/plots/graphs/*
!src/neo4j-quickstart/plots/graphs/.gitkeep
# Cluster plots
src/neo4j-quickstart/plots/clusters/*
!src/neo4j-quickstart/plots/clusters/.gitkeep

